@import "~bulma"

// Config vars
body.light
  --bg-dark: #f1f0f0
  --bg-light: #d2efe1
  --text: #4b4b4b
  --link: #e6a4b7
  --contrast: #f4e3e3
  --box: rgba(255, 243, 243, 0.5)
  .corner
    opacity: 0.35
  .mode
    content: url("/img/images/modes/light/icon.svg")
body.dark
  --bg-dark: #464646
  --bg-light: #8ba9aa
  --text: #f4e3e3
  --contrast: #4b4b4b
  --link: #e6a4b7
  --box: rgba(16, 17, 18, 0.35)
  .corner
    opacity: 0.25
  .mode
    content: url("/img/images/modes/dark/icon.svg")
body
  --main-pink: #e6a4b7
  --grey: #4b4b4b
  --white: #f1f0f0

@font-face
  font-family: 'Source Sans'
  src: url("/fonts/SourceSans3-VariableFont_wght.ttf")
@font-face
  font-family: 'Self Modern'
  src: url("/fonts/SelfModern-Italic.ttf")
@font-face
  font-family: 'Anton'
  src: url("/fonts/Anton-Regular.ttf")

html, body
  color: var(--text)
  font-family: Source Sans, Arial, Helvetica, sans-serif
  background: var(--bg-dark)
  background-attachment: fixed
  transition: all 0.3s
  position: relative
  min-height: 100vh
  overflow-x: hidden

body
  padding-bottom: 200px

.label, h1.title, h2.subtitle, h3.description,
.content h1, .content h2, .content h3, .content h4, .title
  color: var(--text)

.navbar .navbar-menu
  box-shadow: none

.navbar-menu a, .title.is-size-4, .social
  font-family: Anton, Arial, Helvetica, sans-serif
  text-transform: uppercase
  color: var(--link) !important
  font-weight: normal
  &:hover
    opacity: 0.75
    color: var(--link) !important
    background: none

.navbar
  background: none
  z-index: 9999

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.btn, .button
  display: inline-block
  padding: 10px
  line-height: 1.25
  background-color: var(--box)
  border-radius: 0
  border-width: 0
  color: var(--link) !important
  text-align: center
  font-family: Anton, Arial, Helvetica, sans-serif
  text-transform: uppercase
  font-weight: 400 !important
  &:hover
    color: var(--link)
    border: none
    opacity: 0.75

.margin-top-0
  margin-top: 0

.navbar-burger
  background: var(--link)
  border-radius: 0 0 0 9999px
  right: -10px
  top: -10px
  z-index: 9999
  padding: 40px

.navbar-burger:hover
  background: var(--link)
  opacity: 0.75

.navbar-burger span
  height: 2px !important
  background-color: var(--contrast)

.menu-label
  font-size: 1em
  text-align: left
.menu-list
  list-style: none
  text-align: left

// blog roll
.blog-list-item header
  display: flex
  margin-bottom: 1em

.blog-list-item
  background: var(--box)
  color: var(--text)
  border-radius: 10px
  box-shadow: none

.unstyled
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

// responsiveness

+mobile
  .blog-list-item header
    display: block

// overrides

a, a.has-text-primary:hover, a.has-text-primary:focus
  text-decoration: none !important
  color: var(--link) !important
  font-weight: normal !important
  &:hover, &:focus
    opacity: 0.75

.has-text-primary
  color: var(--main-pink) !important

a.navbar-item
  font-size: 1.2rem

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active
  background-color: var(--none)

.portrait img
  border-radius: 9999px

.portrait
  text-align: center

.columns
  margin-top: 0

::selection
  background: var(--main-pink)
::-moz-selection
  background: var(--main-pink)

@media screen
  @media (max-width: 1023px)
    .navbar-menu
      background: var(--bg-dark)
      opacity: 0.95
      position: fixed
      inset: 0
      transition: all 1s
    .navbar
      position: fixed
      width: 100vw
    .navbar-menu button
      margin-top: 1rem
    @media (orientation: portrait)
      .navbar-menu
        padding-top: 60%
      .project
        margin: 8rem auto
        width: 100vw
      .section
        padding: 5.5rem 1.5rem 
      .blog-roll
        padding-top: 5.5rem 
    @media (orientation: landscape)
      .navbar-menu
        padding-top: 15%

.field label
  font-family: 'Self Modern', Arial, Helvetica, sans-serif
  font-weight: bold

.field input
  background: var(--white)
  border: 1px solid var(--bg-dark)
  color: var(--grey)
  font-family: 'Self Modern', Arial, Helvetica, sans-serif
  font-weight: bold
  border-radius: 0

.field input:focus, .field input:active
  border: 1px solid var(--main-pink)
  box-shadow: none

@media (orientation: landscape)
  form
    display: flex
    align-content: center
    margin: 0 auto
    width: fit-content
  .field
    display: flex
    flex-direction: column
    justify-content: space-evenly
  .field.submit
    margin-top: 1.25rem
    justify-content: center

button, a
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

button:focus, a:focus
  outline: none

.index .title
  font-size: 4em

.index .subtitle
  font-size: 3em

.index .title, .index .subtitle, .index .description
  line-height: 1.5

.pen
  width: 50px
  margin-bottom: 1.5rem
  transform: rotate(180deg)
  filter: grayscale(1)

.projects
  margin: 3rem auto
  @media (orientation: landscape) and (min-width: 1023px)
    display: flex
    flex-direction: row
    width: fit-content
    gap: 8.5rem
    margin: 5rem auto

.project
  background-color: var(--bg-light)
  border-radius: 9999px
  width: 290px
  height: 290px
  padding-top: 1.85rem
  text-align: center
  position: relative
  a
    color: var(--text) !important
  
.project:last-of-type
  background-color: var(--white)

.project:before
  content: url("/img/images/henna.png")
  position: absolute
  z-index: -1
  top: -75px
  left: -75px
  opacity: 0.75 
  filter: grayscale(1)

.project img
  height: 190px
  border-radius: 6px

hr
  height: 2px
  color: none
  background: none
  font-size: 0
  border-top: 2px solid var(--text)

.fade-in-section
  opacity: 0
  transform: translateY(20vh)
  visibility: hidden
  transition: opacity 0.6s ease-out, transform 1.2s ease-out
  will-change: opacity, visibility

.fade-in-section.is-visible
  opacity: 1
  transform: none
  visibility: visible

.corner
  filter: grayscale(1)
  background: url("/img/images/henna.png")
  width: 200px
  height: 200px
  position: absolute

.top-left
  top: 0
  left: 0
  transform: rotate(180deg)

.top-right
  top: 0
  right: 0
  transform: rotate(270deg)

.bottom-left
  bottom: 0vh
  left: 0
  transform: rotate(90deg)

.bottom-right
  bottom: 0vh
  right: 0

.project span
  width: 290px
  text-align: center
  display: block
  position: relative
  top: 30px

.sketch
  border-radius: 9999px
  overflow: hidden
  position: relative
  top: -30px

h1, h2, h3, h4, h5, h6
  font-family: 'Self Modern', Arial, Helvetica, sans-serif
  font-weight: bold
