@import "~bulma"

// Config vars
body.light
  --pink: #e899b1
  --bg-dark: #f7ecdd
  --bg-light: #fef8ec
  --text: #75536f
  --logo: url("/img/images/modes/light/logo.png")
  .mode
    content: url("/img/images/modes/light/icon.svg")
body.dark
  --bg-dark: #183154
  --bg-light: #2b486d
  --text: #b7caaa
  --logo: url("/img/images/modes/dark/logo.png")
  .mode
    content: url("/img/images/modes/dark/icon.svg")
body
  --pink: #e899b1
  --gradient: linear-gradient(#efc8d4, #e6a4b7, #ea8faa)

@font-face
  font-family: 'JUSTSans'
  src: url("/fonts/JUSTSans-Regular.otf")
@font-face
  font-family: 'Leckerli One'
  src: url("/fonts/LeckerliOne-Regular.ttf")
@font-face
  font-family: 'Anton'
  src: url("/fonts/Anton-Regular.ttf")
@font-face
  font-family: 'Georgia'
  src: url("/fonts/Georgia-Regular.ttf")

html, body
  color: var(--text)
  font-family: Georgia, 'Times New Roman', Times, serif
  background-color: var(--bg-dark)
  transition: all 1s
  position: relative
  min-height: 100vh

body 
  padding-bottom: 200px

.navbar .navbar-menu
  box-shadow: none

.navbar-menu a, .title.is-size-4, .social
  font-family: Anton, Arial, Helvetica, sans-serif
  text-transform: uppercase
  background-color: var(--pink)
  background-image: var(--gradient)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.navbar
  background: none
  z-index: 9999

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.btn, .button
  display: inline-block
  padding: 10px
  line-height: 1.25
  background-color: var(--pink)
  background-image: var(--gradient)
  border-radius: 0
  border-width: 0
  color: var(--bg-light) !important
  text-align: center
  font-family: Anton, Arial, Helvetica, sans-serif
  text-transform: uppercase
  font-weight: 400 !important
  &:hover
    color: var(--pink)
    border: none
    opacity: 0.75

.margin-top-0
  margin-top: 0

.navbar-brand .navbar-item.logo
  padding: 0 1rem

.navbar-brand span.logo
  content: var(--logo)

.navbar-burger
  height: 42px
  width: 42px
  top: 10px
  right: 10px
  background-color: var(--pink)
  border: 1.5px solid var(--text)
  border-radius: 9999px
  z-index: 9999

.navbar-burger:hover
  background-color: var(--pink)
  opacity: 0.75

.navbar-burger span
  height: 2px !important
  background-color: var(--text)

.menu-label
  font-size: 1em
  text-align: left
.menu-list
  list-style: none
  text-align: left

// blog roll
.blog-list-item header
  display: flex
  margin-bottom: 1em

.blog-list-item
  background: var(--bg-light)
  color: var(--text)
  box-shadow: none

.unstyled
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

// responsiveness

+mobile
  .blog-list-item header
    display: block

// overrides

.label, h1.title, h2.subtitle, h3.description,
.content h1, .content h2, .content h3, .content h4, .title
  font-weight: normal
  color: var(--text)

a, a.has-text-primary:hover, a.has-text-primary:focus
  text-decoration: none !important
  color: var(--pink) !important
  &:hover, &:focus
    opacity: 0.75

.has-text-primary
  color: var(--pink) !important

a.navbar-item
  color: var(--pink)
  font-size: 1.2rem

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active
  background-color: var(--pink)
  color: var(--bg-light) !important

.portrait img
  border-radius: 9999px

.portrait
  text-align: center

.columns
  margin-top: 0

::selection
  background: var(--pink)
::-moz-selection
  background: var(--pink)

@media screen
  @media (max-width: 1023px)
    .navbar-menu
      background-color: var(--bg-dark)
      opacity: 0.95
      position: fixed
      inset: 0
      transition: all 1s
    .navbar
      position: fixed
      width: 100vw
    .navbar-brand
      z-index: 2
      position: relative
    @media (orientation: portrait)
      .navbar-menu 
        padding-top: 60%
      .project
        margin: 8rem auto
        width: 100vw
      .section
        padding: 5.5em 1.5rem
    @media (orientation: landscape)
      .navbar-menu 
        padding-top: 15%

.field input
  background: var(--bg-light)
  color: var(--text)
  font-family: Georgia, 'Times New Roman', Times, serif
  border-radius: 0 
  border: 1.5px solid var(--text)

.field input:focus, .field input:active
  border: 1.5px solid var(--pink)
  box-shadow: none

@media (orientation: landscape)
  form
    display: flex
    align-content: center
    margin: 0 auto
    width: fit-content
  .field
    display: flex
    flex-direction: column
    justify-content: space-evenly
  .field.submit 
    margin-top: 1.25rem
    justify-content: center

button, a
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

button:focus, a:focus
  outline: none

.index .title 
  font-family: 'Leckerli One', Arial, Helvetica, sans-serif

.index, h3, h2, .publication-notes, h1, h4, .taglist
  font-family: JUSTSans, Arial, Helvetica, sans-serif

.pen
  width: 50px
  margin-bottom: 1.5rem
  transform: rotate(180deg)

.projects 
  margin: 3rem auto
  @media (orientation: landscape) and (min-width: 1023px)
    display: flex
    flex-direction: row
    width: fit-content
    gap: 8.5rem
    margin: 5rem auto

.project
  background-color: var(--bg-light)
  border-radius: 9999px
  width: 290px
  height: 290px
  padding-top: 1.85rem
  text-align: center
  border: 2px solid var(--text)
  position: relative

.project:before
  content: url("/img/images/henna.png")
  position: absolute
  z-index: -1
  top: -75px 
  left: -75px
  opacity: 0.5

.project:after, .navbar-burger:after
  content: ''
  position: absolute
  border-radius: 9999px
  z-index: 5
  pointer-events: none

.project:after
  width: 290px
  height: 290px 
  left: -10px
  top: -10px
  border: 2px solid var(--text)

.navbar-burger:after
  width: 42px
  height: 42px 
  left: -5px
  top: -5px
  border: 1.5px solid var(--text)
  z-index: 5

.project img
  height: 190px
  border-radius: 6px

.project a 
  font-family: JUSTSans, Arial, Helvetica, sans-serif

hr
  height: 2px
  color: var(--text)
  background: var(--text)
  font-size: 0
  border: 0

.fade-in-section 
  opacity: 0
  transform: translateY(20vh)
  visibility: hidden
  transition: opacity 0.6s ease-out, transform 1.2s ease-out
  will-change: opacity, visibility

.fade-in-section.is-visible
  opacity: 1
  transform: none
  visibility: visible

.corner 
  background: url("/img/images/henna.png")
  width: 200px
  height: 200px
  position: absolute
  opacity: 0.5

.top-left
  top: 0
  left: 0
  transform: rotate(180deg)

.top-right
  top: 0 
  right: 0
  transform: rotate(270deg)

.bottom-left
  bottom: 0vh
  left: 0
  transform: rotate(90deg)

.bottom-right
  bottom: 0vh
  right: 0
